<mat-nav-list>
  <div class="profile-card">
    <div class="header">
      <h2>UNIZIK ADMISSIONS</h2>
      <!-- <h4>Mkpatak, AkwaIbom</h4> -->
    </div>
    <img src="/assets/unizik_logo.png" alt="licencee logo" >
  </div>
  <mat-divider></mat-divider>

  <h2 MatSubHeader>Pages</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="home">Home</a>
  <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard2">Dashboard 2</a> -->
  <a mat-list-item routerLinkActive="list-item-active" routerLink="utme">UTME</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="de">DE</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="prescience">PRESCIENCE</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="jupeb">JUPEB</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="sup">SUP</a>
  <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="fresh-graduates">FRESH CANDIDATES</a> -->
  <a mat-list-item routerLinkActive="list-item-active" routerLink="candidate-registration">CANDIDATE REGISTRATION</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="candidate-admission" disabled>CANDIDATE ADMISSION</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="settings" >SETTINGS</a>

  <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Staff Accommodation</a> -->
  <!-- <mat-divider></mat-divider>
  <h2 MatSubHeader>Tools</h2>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="settings">
    <mat-icon>settings</mat-icon>Settings</a> -->
</mat-nav-list>



