<!-- <header fxLayoutAlign="space-between center">
  <div>
    LOGO
  </div>
  <div flexLayout="row" fxLayoutGap="20px">
    <a routerLink="/">Home</a>
    <a routerLink="/settings">Settings</a>
    <a routerLink="/login">Login</a>

  </div>
</header> -->

<mat-toolbar>
  <mat-toolbar-row >
    <button mat-icon-button (click)="toggleSideBar()">
      <mat-icon>menu</mat-icon>
    </button>
    <!-- APP LOGO -->
    <span>admit.api</span>

    <div fxFlex flexLayout="row" fxLayoutGap="20px" fxLayoutAlign="flex-end">
      <button mat-icon-button>
        <mat-icon>settings</mat-icon>
      </button>

      <button mat-icon-button>
        <mat-icon>help_outline</mat-icon>
      </button>

      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>person_outline</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>exit_to_app</mat-icon>
          Sign out
        </button>
      </mat-menu>


    </div>
  </mat-toolbar-row>
</mat-toolbar>

