<mat-toolbar>SETTINGS</mat-toolbar>
<mat-tab-group>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">check_box</mat-icon>
      PASSMARK SETTINGS
    </ng-template>
    <div>
      <mat-card>

        <h3>Set passmark</h3>
        <app-settings-passmark></app-settings-passmark>

      </mat-card>
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">checklist</mat-icon>
      PROGRAMME CUTOFF SETTINGS
    </ng-template>
    <div>
      <mat-card>
        <h3>Set cutoff</h3>
      </mat-card>
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">format_list_numbered</mat-icon>
      ADMISSION QUOTA SETTINGS
    </ng-template>
    <div>
      <mat-card>
        <h3>Set admissions quota</h3>
      </mat-card>
    </div>
  </mat-tab>
</mat-tab-group>
