



<div fxFlex>
  <!-- <app-widget-schstat></app-widget-schstat> -->
</div>
<!-- <div fxLayout="row" fxLayoutAlign ="space-evenly center" fxLayoutGap="20px">
  <app-widget-guage fxFlex></app-widget-guage>

  <app-widget-bar fxFlex></app-widget-bar>


</div> -->

<div fxFlex>
  <!-- <app-widget-area></app-widget-area>
  <app-widget-stackedarea></app-widget-stackedarea> -->


  <div fxLayout="column" class="dialogspacing">
    <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
        <div fxFlex="30"></div>
        <div fxFlex >
            <mat-card class="wrapper">

            </mat-card>

        </div>

    </div>
</div>
</div>


